### Introducción a Pandas
`pandas` es una biblioteca de Python muy popular para el análisis y manipulación de datos.
Es especialmente útil para trabajar con datos estructurados como tablas o archivos CSV.
La estructura de datos principal de Pandas es el DataFrame, que es una tabla de datos similar a las hojas de cálculo de Excel.

In [16]:

# Para usar Pandas, primero necesitamos importarla. 
import pandas as pd

# Ejemplo de uso básico de Pandas
print("¡Pandas está listo para usarse!")

¡Pandas está listo para usarse!

### Creación de DataFrames
Un DataFrame es una estructura de datos bidimensional, como una tabla con filas y columnas. Vamos a crear un DataFrame a partir de un diccionario de datos.

In [17]:


# Creamos un diccionario con algunos datos
data = {
    "Nombre": ["Ana", "Juan", "Carlos", "Lucía"],
    "Edad": [23, 30, 35, 29],
    "Ciudad": ["Madrid", "Barcelona", "Valencia", "Sevilla"]
}

# Convertimos el diccionario en un DataFrame
df = pd.DataFrame(data)

# Mostramos el DataFrame
print("Nuestro primer DataFrame:")
df

Nuestro primer DataFrame:

   Nombre  Edad     Ciudad
0     Ana    23     Madrid
1    Juan    30  Barcelona
2  Carlos    35   Valencia
3   Lucía    29    Sevilla

### Exploración del dataframe
Pandas nos permite explorar rápidamente la estructura y contenido de un DataFrame.

In [18]:


# Mostrar las primeras filas del DataFrame
print("Primeras filas del DataFrame:")
df.head()

# Mostrar las últimas filas del DataFrame
print("Últimas filas del DataFrame:")
df.tail()

# Resumen de información sobre el DataFrame
print("Resumen de información del DataFrame:")
df.info()

# Estadísticas descriptivas del DataFrame
print("Estadísticas descriptivas del DataFrame:")
df.describe()

# Ejercicio: Muestra solo las primeras 2 filas del DataFrame `df`.

Primeras filas del DataFrame:
Últimas filas del DataFrame:
Resumen de información del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Nombre  4 non-null      object
 1   Edad    4 non-null      int64
 2   Ciudad  4 non-null      object
dtypes: int64(1), object(2)
memory usage: 228.0+ bytes
Estadísticas descriptivas del DataFrame:

            Edad
count   4.000000
mean   29.250000
std     4.924429
min    23.000000
25%    27.500000
50%    29.500000
75%    31.250000
max    35.000000

## Selección de Datos en el DataFrame
Podemos seleccionar columnas o filas específicas en un DataFrame.

In [19]:
# Seleccionar una columna (devuelve un Series)
print("Columna 'Nombre':")
df["Nombre"]

# Seleccionar múltiples columnas
print("Columnas 'Nombre' y 'Edad':")
df[["Nombre", "Edad"]]

# Seleccionar una fila por su índice
print("Primera fila del DataFrame:")
df.iloc[0]

# Seleccionar un rango de filas
print("Filas 0 a 2:")
df.iloc[0:3]

# Ejercicio: Selecciona y muestra la columna 'Ciudad' del DataFrame `df`.

Columna 'Nombre':
Columnas 'Nombre' y 'Edad':
Primera fila del DataFrame:
Filas 0 a 2:

   Nombre  Edad     Ciudad
0     Ana    23     Madrid
1    Juan    30  Barcelona
2  Carlos    35   Valencia

## Filtrado de Datos
Podemos filtrar los datos en función de condiciones.

In [20]:
# Filtrar filas donde la edad es mayor a 25
print("Filas donde Edad > 25:")
df[df["Edad"] > 25]

# Filtrar filas donde la ciudad es 'Madrid'
print("Filas donde Ciudad es 'Madrid':")
df[df["Ciudad"] == "Madrid"]

Filas donde Edad > 25:
Filas donde Ciudad es 'Madrid':

  Nombre  Edad  Ciudad
0    Ana    23  Madrid

## Modificación de Datos en el DataFrame
Podemos modificar los datos de un DataFrame de diferentes maneras.

In [21]:
# Agregar una nueva columna
df["País"] = "España"
print("DataFrame con nueva columna 'País':")
df

# Modificar valores en una columna
df["Edad"] = df["Edad"] + 1
print("DataFrame con edades incrementadas en 1:")
df

DataFrame con nueva columna 'País':
DataFrame con edades incrementadas en 1:

   Nombre  Edad     Ciudad    País
0     Ana    24     Madrid  España
1    Juan    31  Barcelona  España
2  Carlos    36   Valencia  España
3   Lucía    30    Sevilla  España

### Operaciones Básicas con DataFrames
Podemos realizar operaciones matemáticas y de agregación en los datos de un DataFrame.

In [22]:
# Crear un DataFrame de ejemplo con datos numéricos
data_numeros = {
    "Producto": ["A", "B", "C", "D"],
    "Precio": [10, 20, 15, 30],
    "Cantidad": [100, 150, 200, 80]
}
df_numeros = pd.DataFrame(data_numeros)

# Calcular el valor total para cada producto
df_numeros["Total"] = df_numeros["Precio"] * df_numeros["Cantidad"]
print("DataFrame con columna 'Total' calculada:")
df_numeros

# Ejercicio: Calcula el promedio del precio de los productos.

DataFrame con columna 'Total' calculada:

  Producto  Precio  Cantidad  Total
0        A      10       100   1000
1        B      20       150   3000
2        C      15       200   3000
3        D      30        80   2400

### Agrupación de Datos
Podemos agrupar los datos en función de una columna y aplicar funciones de agregación.

In [23]:

# Crear un DataFrame de ejemplo
data_ventas = {
    "Producto": ["A", "A", "B", "B", "C", "C"],
    "Vendedor": ["Juan", "Ana", "Juan", "Ana", "Juan", "Ana"],
    "Ventas": [100, 200, 150, 250, 300, 400]
}
df_ventas = pd.DataFrame(data_ventas)

# Agrupar por 'Producto' y calcular la suma de ventas
print("Ventas totales por Producto:")
df_ventas.groupby("Producto")["Ventas"].sum()

# Ejercicio: Agrupa los datos por 'Vendedor' y calcula el total de ventas por vendedor.

Ventas totales por Producto:

Producto
A    300
B    400
C    700
Name: Ventas, dtype: int64

### Carga y Guardado de Datos
Pandas permite cargar datos desde archivos CSV y guardarlos de nuevo en archivos.

In [24]:

# Guardar el DataFrame `df` en un archivo CSV
df.to_csv("datos_guardados.csv", index=False)
print("Datos guardados en 'datos_guardados.csv'.")

# Cargar datos desde un archivo CSV
df_cargado = pd.read_csv("datos_guardados.csv")
print("Datos cargados desde 'datos_guardados.csv':")
df_cargado

# Ejercicio: Guarda el DataFrame `df_numeros` en un archivo CSV llamado 'productos.csv'.

Datos guardados en 'datos_guardados.csv'.
Datos cargados desde 'datos_guardados.csv':

   Nombre  Edad     Ciudad    País
0     Ana    24     Madrid  España
1    Juan    31  Barcelona  España
2  Carlos    36   Valencia  España
3   Lucía    30    Sevilla  España